# Scripts
macos-app/scripts/
scripts/

# Data & Tokens
*.token
*.log
credentials.json
server_config.json
client_config.json
loole.log

# Build Artifacts
macos-app/.build/
macos-app/dist/
macos-app/bundle/
bin/
*.zip
*.icns

# System
.DS_Store
temp/
implementation_plan.md
CLAUDE.md
loole.png
